*{
    font-family: sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
  }
  html, body,
  h1, h2, h3, h4, h5, h6,
  a, p, span,
  em, small, strong,
  sub, sup,
  mark, del, ins, strike,
  abbr, dfn,
  blockquote, q, cite,
  code, pre,
  ol, ul, li, dl, dt, dd,
  div, section, article,
  main, aside, nav,
  header, hgroup, footer,
  img, figure, figcaption,
  address, time,
  audio, video,
  canvas, iframe,
  details, summary,
  fieldset, form, label, legend,
  table, caption,
  tbody, tfoot, thead,
  tr, th, td {
    border: 0;
    margin: 0;
    padding: 0;
  }
  ul{
    list-style: none;
  }
  :root{
      --rojo: #ff0000;
      --blanco: #ffffff;
      --principal: #9000ff;
      --dark-principal: #6100ac;
  }
  a{
    color: #fff ;
  }
/** colores **/
.rojo{ 
background-color:  var(--rojo);}
.blanco{
    background-color: var(--blanco);
}
.tblanco{
  color: var(--blanco) !important;
}

.mgt-30{
  margin-top: 30px;
}
  body{
      width: 100vw;
      overflow-x: hidden;
  }
.contenedor{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

}
  header{
      height: 55px;
      width: 100%;
      background-color: var(--principal);
      position: fixed;
      z-index: 2;
      top: 0px;
  }
  .flex{
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  .flex-o{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  .gap{
    gap: 40px;
  }
  /* encabezado*/
  .main{
    padding: 55px 0px 50px;
  }
  .portada{
      height: 100vh;
    }

.fondo{
  background: linear-gradient(186deg, rgba(162,0,255,1) 0%, rgba(60,0,255,1) 100%);

}
  .texto-principal{
      gap: 35px;
      display: flex;
      width: 100%;
      max-width: 370px;
      flex-wrap: wrap;
  }
  .texto_principal{
      max-width: 370px;
      font-size: 2.2rem;
  }

  .cta-boton {
      padding: .6rem 1.5rem;
      border-radius: 30px;
      font-weight: bold;
  }

  .imagen-principal img{
      width: 60%;
      max-width: 500px;
      transform: rotate(345deg);
  }
  .imagen-principal{
      text-align: center;
  }
/** grid **/

.container{
    width: 100%;
}
.container-9{
  width: 90%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.grid > article {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
  gap: 40px;
}
.ledd{
  width: 100%;
}

.numer{
    width: 40px;
    height: 40px;
    border-radius: 45px;
    background-color: turquoise;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid .text {
  text-align: center;
}

.grid .text h3 {
  font-size: 1.4rem;
}

.grid .text p {
  font-size: 0.9rem;
}
/**  PREFGUNTAS FRECUENTES **/

.fa {
  background-color: violet;
  color: #1f3389;
}
.faqqq{
    display:block;
    position:relative;
    box-sizing:border-box;
    padding:30px;
    width:90%;
    max-width:920px;
    background-color:#fff;
    margin:0 auto;
    margin-top:50px;
    box-shadow:0px 0px 5px rgba(0,0,0,0.1);
  }
  .topic{
    padding:20px;
    padding-top:0px;
    padding-bottom:0px;
    border-bottom:solid 1px #ebebeb;
  }
  .open{
    cursor:pointer;
    display:block;
    padding:0px;
  }
  .open:hover{
    opacity:0.7;
  }
  .expanded{
    background-color:#f5f5f5;
    transition: all .3s ease-in-out;
  }
  .question{
    padding-top:30px;
    padding-right: 40px;
    padding-bottom:20px;
    font-size: 18px;
    font-weight:500;
    color: #526ee4;
  }
  .answer{
    font-size:16px;
    line-height:26px;
    display:none;
    margin-bottom:30px;
    text-align:justify;
    padding-left:20px;
    padding-right:20px;
  }
  .faq-t{
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: inline-block;
    float: right;
    position:relative;
    top:-55px;
    right:10px;
    width: 10px;
    height: 10px;
    background: transparent;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    transition: all .3s ease-in-out;
  }
  .faq-o{
    top:-50px;
     -moz-transform: rotate(-224deg);
    -ms-transform: rotate(-224deg);
    -webkit-transform: rotate(-224deg);
    transform: rotate(-224deg);
  }
  @media only screen and (max-width: 480px) {
    .faq-t{display:none;}
    .question{
    padding-right: 0px;
  }
    .faqqq{
    padding:10px;
  }
    .answer{
    margin-bottom:30px;
    padding-left:0px;
    padding-right:0px;
  }
  }
/** footer **/
footer{
  position: relative;
  display: grid;
  width: 100%;
  height: auto;
  padding: 50px 50px;
  background-color: var(--principal);
}
footer .container, .gridss{
  margin:auto;
width: 100%;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
grid-gap: 50px;
display: grid;
}
.gridss{
  text-align: center;
 
}
.texto-demo{
  margin-top: 15px;
  color: #000000;
}

footer .container .sec h2{
  position: relative;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 15px;
}

footer .container .sec h2::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 50px;
  height: 2px;
  background: #ffeb3b;
}
footer .container .sec p{
  color: #fff;

}
.sci {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-gap: 5px;
}
.sci li{
  list-style: none;
}
.sci li a{
  display: inline-block;
  width: 30px;
  height: 30px;
  display: grid;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 4px;
}

.quicklinks{
  position: relative;
}
.quicklinks li{
  list-style: none;
}
.quicklinks li:hover{
  color: #ffeb3b;
}
.info{
  position: relative;
}
.info li{
  display: grid;
  grid-template-columns:  30px 1fr;
  margin-bottom: 16px;
}
.info li span:nth-child(1){
  color: #fff;
  font-size: 20px;
}
.info li span{
  color: #ffffff;
}
.info a{
  color: #f7f7f7;
  text-decoration: none;
}
.info a:hover{
  color: #ffeb3b;
}
.copyrightText{
  width: 100%;
  background: var(--dark-principal);
  padding: 15px 50px;
  text-align: center;
  color: #fff;
}
.wsp-boton{
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: .6rem 1.5rem;
  background-color: #0f7b6c;
  gap: 10px;
  align-items: center;
  color: var(--blanco);
  border-radius: 20px;
  z-index: 2;
}
/** iconos */
.fab{
  font-size: 30px;
}
.fas{
  font-size: 20px;
}

/*    menu*/
.nav {
  display: grid;
  grid-template-rows: minmax(min-content, 55px);
  max-width: 980px;
  margin: auto;
}
.nav .brand {
  cursor: pointer;
  justify-self: left;
  margin-left: 15px;
}
.nav .content {
  align-content: space-evenly;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
}
.nav .dropdown {
  background-color: var(--rojo);
  display: none;
  text-align: center;
  position: fixed;
  top: 55px;
  width: 100vw;
}
.nav .dropdown a,.nav a {
  color: white;
  padding: 18px;
}
.nav .dropdown a:hover, .nav a:hover {
  color: var(--blanco);
  background-color: #000000;
}
.nav .links {
  display: grid;
  grid-auto-columns: minmax(min-content, 50px);
  grid-auto-flow: column;
  place-items: center;
}
.nav .links.nav-items {
  justify-self: right;
  padding-right: 15px;
}
.nav .menu {
  -webkit-user-select: none;
  cursor: pointer;
  display: none;
  justify-self: right;
  margin-right: 15px;
  user-select: none;
}
.nav .menu:hover {
  opacity: 0.5;
}

@media only screen and (max-width: 768px) {
  .nav .content .links {
    display: none;
  }
  .nav .content .menu {
    display: initial;
  }
  .ledd{
    width: 60%;
    text-align: center;
  }  
}

/**  REPONSIVO **/
@media only screen and (min-width: 768px){
  footer .container, .gridss{
    max-width: 1140px;
  }
}
  @media only screen and (min-width:1200px){
      .contenedor{
          max-width: 1340px;
      }
  }

  @media only screen and (max-width: 47.99em){
      .flex{
          flex-direction: column;
          gap: 35px;
      }
      .texto-principal{
          justify-content: center;
          gap: 18px;
      }
      .texto_principal{
          text-align: center;
      }
      .imagen-principal img{
          width: 45%;
      }
      .main{
          padding: 65px 0 50px;
      }
      
  }